@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
.mouserat{
  font-family: 'Montserrat', sans-serif !important;
}

body{
  width: 100vw;
  line-height: 120% !important;
  height: 100vh;
  overflow-y: scroll;
}

.bg-400 {
  background-color: #222831 !important;
}
.bg-300 {
  background-color: #8892b0 !important;
}
.bg-200 {
  background-color: #e60965 !important;
}
.bg-100 {
  background-color: #EEEEEE !important;
}

.text-400 {
  color: #222831 !important;
}
.text-300 {
  color: #8892b0 !important;
}
.text-200 {
  color: #e60965 !important;
}
.text-100 {
  color: #EEEEEE !important;
}

.flexy{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-section{
  min-height: 100vh;
  width: 99vw;
  overflow-x: scroll;
}

.nav-link{
  cursor: pointer;
}

.portfolio-body{
  height: 100vh;
  overflow-y: scroll;
}

a{
  cursor: pointer !important;
}